<!doctype html>
<html>

<head>
    <title>Sophia Kotov's Resume</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/custom.css">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" src="http://normalize-css.googlecode.com/svn/trunk/normalize.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="script.js"></script>
</head>

<body>

<nav class="navbar-fixed-top">
        <div id='cssmenu'>
            <ul>
                <li><a href="http://www-personal.umich.edu/~kotova/"><span>Sophia Kotov</span></a></li>
                <li><a href='#aboutMe'><span>About Me</span></a></li>
                <li><a href='/kotova/projects.html'><span>Projects</span></a></li>
                <li class="active"><a href="/kotova/resume.html"><span>Resume</span></a></li>
                 <li class='last'><a href='#contact'><span>Contact</span></a></li>
            </ul>
        </div>
    </nav>

<div class="page-wrap"> 

<section id="resume">
    <h2><center>Resume</center></h2>
  <div class="row">
    <div class="col-xs-4 col-md-4 col-md-offset-2">
      <p>
         <center><h3>Skills</h3></center>
         Lorem ipsum dolor sit amet, habeo appareat sed ex, at inani adipisci vis, abhorreant constituto id eam. Ne dicit tincidunt mel, at alienum maiestatis eam. Possit omnesque eos ut. Ad meis imperdiet quo, ne labore virtute sensibus mel, quot tritani indoctum vel id. Te sed quod doctus inciderint, per persequeris referrentur suscipiantur id, prompta debitis efficiendi in eum.
      </p>
      <p>
         <center><h3>Awards</h3></center>
         Lorem ipsum dolor sit amet, habeo appareat sed ex, at inani adipisci vis, abhorreant constituto id eam. Ne dicit tincidunt mel, at alienum maiestatis eam. Possit omnesque eos ut. Ad meis imperdiet quo, ne labore virtute sensibus mel, quot tritani indoctum vel id. Te sed quod doctus inciderint, per persequeris referrentur suscipiantur id, prompta debitis efficiendi in eum.
      </p>
      <p>
         <center><h3>Education</h3></center>
         Lorem ipsum dolor sit amet, habeo appareat sed ex, at inani adipisci vis, abhorreant constituto id eam. Ne dicit tincidunt mel, at alienum maiestatis eam. Possit omnesque eos ut. Ad meis imperdiet quo, ne labore virtute sensibus mel, quot tritani indoctum vel id. Te sed quod doctus inciderint, per persequeris referrentur suscipiantur id, prompta debitis efficiendi in eum.
      </p>
    </div>
    <div class="col-xs-8 col-md-4">
      <p>
         <center><h3>Experience</h3></center>
         Lorem ipsum dolor sit amet, habeo appareat sed ex, at inani adipisci vis, abhorreant constituto id eam. Ne dicit tincidunt mel, at alienum maiestatis eam. Possit omnesque eos ut. Ad meis imperdiet quo, ne labore virtute sensibus mel, quot tritani indoctum vel id. Te sed quod doctus inciderint, per persequeris referrentur suscipiantur id, prompta debitis efficiendi in eum.
         <br>
         Lorem ipsum dolor sit amet, habeo appareat sed ex, at inani adipisci vis, abhorreant constituto id eam. Ne dicit tincidunt mel, at alienum maiestatis eam. Possit omnesque eos ut. Ad meis imperdiet quo, ne labore virtute sensibus mel, quot tritani indoctum vel id. Te sed quod doctus inciderint, per persequeris referrentur suscipiantur id, prompta debitis efficiendi in eum.
         <br>
         Lorem ipsum dolor sit amet, habeo appareat sed ex, at inani adipisci vis, abhorreant constituto id eam. Ne dicit tincidunt mel, at alienum maiestatis eam. Possit omnesque eos ut. Ad meis imperdiet quo, ne labore virtute sensibus mel, quot tritani indoctum vel id. Te sed quod doctus inciderint, per persequeris referrentur suscipiantur id, prompta debitis efficiendi in eum.
         <br>
         Lorem ipsum dolor sit amet, habeo appareat sed ex, at inani adipisci vis, abhorreant constituto id eam. Ne dicit tincidunt mel, at alienum maiestatis eam. Possit omnesque eos ut. Ad meis imperdiet quo, ne labore virtute sensibus mel, quot tritani indoctum vel id. Te sed quod doctus inciderint, per persequeris referrentur suscipiantur id, prompta debitis efficiendi in eum.
      </p>
      <p>
        <center><h3>Languages</h3></center>
        <ul>
          <li>German</li>
          <li>Russian</li>
          <li>Spanish</li>
          <li>Arabic</li>
        </ul>
        <ul>
          <li>C++</li>
          <li>Python</li>
          <li>CSS</li>
          <li>HTML</li>
          <li>Javascript</li>
        </ul>
      </p>
    </div>
  </div>

  <br>
  
  <p>
    <center>
        <a href="kotov_resume.pdf">Interested in a .pdf version?</a>
    </center>
  </p>

</section>

</div>
</body>

</html>